{% load nexus_helpers %}
    <li class="nav-header">Apps</li>
    {% for category in category_link_set %}
        {% if category.label and category.links|length > 1 %}
            {% for title, link, active in category.links %}
                <li{% if active %} class="selected"{% endif %}>
                    <a class="HeaderBarButton right" href="{{ link }}"><i class='icon-chevron-right'></i> {{ title }}</a>
                </li>
            {% endfor %}
        {% else %}
            {% for title, link, active in category.links %}
                <li{% if active %} class="selected"{% endif %}>
                    <a class="HeaderBarButton right" href="{{ link }}"><i class='icon-chevron-right'></i> {{ title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
