{% extends "nexus/admin/base_site.html" %}

{% load i18n %}
{% load adminmedia %}

{% block breadcrumb_bits %}
    <li><span>{% trans "Model Admin" %}</span></li>
{% endblock %}

{% block content %}
    {% if app_list %}
     <div class="row-fluid">
        <dl class="app-list span6">
            {% for app in app_list %}
                <dt><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></dt>
                <dd>
                    <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
                    {% for model in app.models %}
                        <tr>
                        {% if model.perms.change %}
                            <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                        {% else %}
                            <th scope="row">{{ model.name }}</th>
                        {% endif %}

                        {% if model.perms.add %}
                            <td><a href="{{ model.admin_url }}add/" class=""><i class='icon-plus-sign'></i> {% trans 'Add' %}</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}

                        {% if model.perms.change %}
                            <td><a href="{{ model.admin_url }}" class=""><i class='icon-edit'></i> {% trans 'Change' %}</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
                </dd>
            {% endfor %}
        </dl>
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class='span6 well well-small' id="content-related">
        <div class="module" id="recent-actions-module">
            <h4>{% trans 'Recent Actions' %}</h4>
            <h6>{% trans 'My Actions' %}</h6>
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
                {% else %}
                <dl>
                {% for entry in admin_log %}
                    <dt> {% if entry.content_type %}
                            {% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}
                        {% else %}
                            {% trans 'Unknown content' %}
                        {% endif %}
                    </dt>
                    <dd>
                        <i class='
                        {% if entry.is_addition %}
                            icon-plus-sign
                        {% endif %}
                        {% if entry.is_change %}
                            icon-edit
                        {% endif %}
                        {% if entry.is_deletion %}
                            icon-minus-sign
                        {% endif %}
                        '></i> 
                        {% if entry.is_deletion %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                    </dd>
                   
                
                {% endfor %}
                </dl>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
